<div class="text-center">
  <h1>TECH BLOG</h1>
  <p>{{name}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{createdAt}}</p>
  <p>
    <span for="image">Image:</span>
    <img src="{{image}}" alt="Blog Image">
  </p>
  <p>
    <button class="btn btn-info" id="edit-blog">Edit</button>
  </p>
</div>
